<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />





  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:400,500,600,700&display=swap">



</head>



<div class="rectangle-container">
  <div class="rectangle red-rectangle">
    <i class="fas fa-sitemap"></i>
    <div class="rectangle-text">
      <p>My products</p>
    </div>
  </div>
  <div class="rectangle blue-rectangle">
    <i class="fas fa-chart-simple"></i>
    <div class="rectangle-text">
      <p>Net Asset</p>
      <p>Value / AUM</p>
    </div>
  </div>
  <div class="rectangle green-rectangle">
    <i class="fa-solid fa-percent"></i>
    <div class="rectangle-text">
      <p>Precentralisation</p>
      <p>reports</p>
    </div>
  </div>
  <div class="rectangle purple-rectangle">
    <i class="fa-solid fa-book"></i>
    <div class="rectangle-text">
      <p>Recordkeeping</p>
    </div>
  </div>
</div>







